/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}



#navbar-main {
  background-color: var(--second-nav);
}

a, .link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
.nav-item .dropdown-item a.active {
  color: white;
}
.nav-link {
  color: rgb(231, 231, 231);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(231, 231, 231);
}
a:active,
.link:active {
  color: #23aeff;
}

.page-item.active .page-link {
  background-color: #A3C4E2;
  border-color: var(--secondary);
  color: var(--secondary);
}

.page-item 

.page-link {
  color: #ff2300;
  border-color: var(--primary);
  background-color: var(--secondary);
}

.page-link:hover {
  background-color: #23304F;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0256b1;
}

.site-footer {
  background: var(--primary);
}

.site-footer .block-system-powered-by-block, .block-system-powered-by-block  {
  border: none;
  color: #A3C4E2;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

.site-name-slogan, .navbar-brand, .views-row, .views-row a {
  color: #A3C4E2
}

.views-row {
  background-color: var(--secondary);
  box-shadow: -0.2em -0.2em 1em black;
}

#main-wrapper {
  background-color: var(--info);
}

.navbar {
  background-color: var(--primary);
}

.button, .nav-button {
  background-color: #75c025;
  border: 0.05em solid #000000E6;
}

a {
  color: #75c025;
}

.site-footer .content a, .views-row li a {
  color: #75c025; 
}

.btn a {
  color: black;
}

.dropdown-toggle {
  box-shadow: -1em -0.5em 4em black;
}