/**
 * @file
 * Subtheme specific CSS.
 */

.sidebar_first {
margin: 1em;
margin-left: 0.5em;
}
.view-content {
	display:grid;
	grid-template-columns: 1fr 1fr; 
	}

.navbar-side {
    width: 10rem;
    height: 100vh;
    position: fixed;
}

.navbar {
    margin-left: 10rem;
}

.navbar-side .search-form, .navbar-side .clearfix a {
    margin: 1rem;
}

.arrow-remover.btn::after {
    border: none;
}