/**
 * @file
 * Subtheme specific CSS.
 */

.sidebar_first {
    margin: 1em;
    margin-left: 0.5em;
}

.view-content {
	display:grid;
	grid-template-columns: 1fr 1fr; 
}

.node--type-article {
    width: 35rem;
    height: auto;
    padding: 2rem;
}

.navbar-second {
    margin-bottom: 2rem;
}

.account-menu {
    height: 5rem;
}


.nav-button {
    background-color: #75c025;
}

.arrow-remover.btn::after {
    border: none;
}

.dropdown-toggle {
    transform: scale(0.2);
    transition: background-color 400ms 0.05s;
}

.dropdown-toggle:hover {
    background-color: hotpink;
}

.dropdown-toggle svg {
    width: 50%;
    height: 50%;
}