{#
/**
 * @file
 * Bootstrap Barrio's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% if site_logo %}
        <svg class="img-fluid d-inline-block align-top p-svg"
         width="21mm"
         height="29mm"
         viewBox="0 0 210 297"
         version="1.1"
         id="svg11998"
         inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
         sodipodi:docname="Personal_logo1.svg"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:svg="http://www.w3.org/2000/svg">
        <sodipodi:namedview
           id="namedview12000"
           pagecolor="#505050"
           bordercolor="#eeeeee"
           borderopacity="1"
           inkscape:showpageshadow="0"
           inkscape:pageopacity="0"
           inkscape:pagecheckerboard="0"
           inkscape:deskcolor="#505050"
           inkscape:document-units="mm"
           showgrid="false"
           inkscape:zoom="1.0255231"
           inkscape:cx="287.65807"
           inkscape:cy="438.3129"
           inkscape:window-width="1920"
           inkscape:window-height="1001"
           inkscape:window-x="-9"
           inkscape:window-y="-9"
           inkscape:window-maximized="1"
           inkscape:current-layer="layer1" />
        <defs
           id="defs11995">
          <filter
             inkscape:menu-tooltip="Partly opaque water color effect with bleed"
             inkscape:menu="Textures"
             inkscape:label="Gouache"
             style="color-interpolation-filters:sRGB"
             id="filter1213"
             x="-0.032077183"
             y="-0.032077183"
             width="1.0641544"
             height="1.0641544">
            <feGaussianBlur
               stdDeviation="3"
               result="result5"
               in="SourceGraphic"
               id="feGaussianBlur1201" />
            <feTurbulence
               result="result1"
               baseFrequency="0.02"
               type="fractalNoise"
               seed="0"
               numOctaves="3"
               id="feTurbulence1203" />
            <feDisplacementMap
               result="result3"
               in2="result1"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="30"
               id="feDisplacementMap1205" />
            <feComposite
               result="result4"
               in="result3"
               in2="result1"
               operator="out"
               id="feComposite1207" />
            <feComposite
               result="result6"
               operator="arithmetic"
               k2="1"
               k1="0.3"
               k3="0.3"
               in2="result4"
               id="feComposite1209"
               k4="0" />
            <feComposite
               in2="result5"
               in="result6"
               operator="over"
               id="feComposite1211" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152242"
             y="-0.20761211"
             width="1.3032803"
             x="-0.15164016"
             style="color-interpolation-filters:sRGB"
             id="filter379-4">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.0820304"
             y="-0.041015203"
             width="1.0122624"
             x="-0.0061312204"
             style="color-interpolation-filters:sRGB"
             id="filter1277">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence1265" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap1267" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend1269" />
            <feGaussianBlur
               stdDeviation="0.32704183"
               in="result2"
               result="result4"
               id="feGaussianBlur1271" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite1273"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite1275" />
          </filter>
          <filter
             inkscape:menu-tooltip="Partly opaque water color effect with bleed"
             inkscape:menu="Textures"
             inkscape:label="Gouache"
             style="color-interpolation-filters:sRGB"
             id="filter1213-3"
             x="-0.032077183"
             y="-0.032077183"
             width="1.0641544"
             height="1.0641544">
            <feGaussianBlur
               stdDeviation="3"
               result="result5"
               in="SourceGraphic"
               id="feGaussianBlur1201-9" />
            <feTurbulence
               result="result1"
               baseFrequency="0.02"
               type="fractalNoise"
               seed="0"
               numOctaves="3"
               id="feTurbulence1203-6" />
            <feDisplacementMap
               result="result3"
               in2="result1"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="30"
               id="feDisplacementMap1205-2" />
            <feComposite
               result="result4"
               in="result3"
               in2="result1"
               operator="out"
               id="feComposite1207-0" />
            <feComposite
               result="result6"
               operator="arithmetic"
               k2="1"
               k1="0.3"
               k3="0.3"
               in2="result4"
               id="feComposite1209-0"
               k4="0" />
            <feComposite
               in2="result5"
               in="result6"
               operator="over"
               id="feComposite1211-4" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152242"
             y="-0.20761211"
             width="1.3032803"
             x="-0.15164016"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-5">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-3" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-62" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-8" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-31" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-1"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-74" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.0643155"
             y="-0.032157753"
             width="1.0109435"
             x="-0.0054717672"
             style="color-interpolation-filters:sRGB"
             id="filter1277-9">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence1265-8" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap1267-7" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend1269-8" />
            <feGaussianBlur
               stdDeviation="0.32704183"
               in="result2"
               result="result4"
               id="feGaussianBlur1271-1" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite1273-8"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite1275-9" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5-1">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65-1" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11-2" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4-4" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7-2" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7-5"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59-4" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152242"
             y="-0.20761211"
             width="1.3032803"
             x="-0.15164016"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-5-1">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-3-7" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-62-9" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-8-9" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-31-6" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-1-4"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-74-9" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5-1-5">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65-1-1" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11-2-8" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4-4-5" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7-2-0" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7-5-0"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59-4-0" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5-1-5-5">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65-1-1-7" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11-2-8-8" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4-4-5-3" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7-2-0-8" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7-5-0-8"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59-4-0-3" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5-1-5-5-6">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65-1-1-7-8" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11-2-8-8-6" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4-4-5-3-6" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7-2-0-8-3" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7-5-0-8-8"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59-4-0-3-8" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5-1-5-5-6-8">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65-1-1-7-8-8" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11-2-8-8-6-7" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4-4-5-3-6-9" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7-2-0-8-3-1" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7-5-0-8-8-3"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59-4-0-3-8-4" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5-1-5-5-6-8-3">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65-1-1-7-8-8-7" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11-2-8-8-6-7-5" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4-4-5-3-6-9-4" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7-2-0-8-3-1-3" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7-5-0-8-8-3-4"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59-4-0-3-8-4-0" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4155214"
             y="-0.20776069"
             width="1.3034974"
             x="-0.15174868"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-1-5-1-5-5-6-8-3-7">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-8-65-1-1-7-8-8-7-7" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-8-11-2-8-8-6-7-5-7" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-4-4-4-5-3-6-9-4-1" />
            <feGaussianBlur
               stdDeviation="10"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-1-7-2-0-8-3-1-3-9" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-7-7-5-0-8-8-3-4-5"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-0-59-4-0-3-8-4-0-2" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152242"
             y="-0.20761211"
             width="1.3032803"
             x="-0.15164016"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-5-1-5">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-3-7-6" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-62-9-7" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-8-9-0" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-31-6-7" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-1-4-4"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-74-9-8" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152242"
             y="-0.20761211"
             width="1.3032803"
             x="-0.15164016"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-5-1-5-7">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-3-7-6-4" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-62-9-7-3" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-8-9-0-7" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-31-6-7-4" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-1-4-4-0"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-74-9-8-8" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152264"
             y="-0.20761318"
             width="1.303282"
             x="-0.15164101"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-5-1-5-7-1">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-3-7-6-4-5" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-62-9-7-3-9" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-8-9-0-7-5" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-31-6-7-4-6" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-1-4-4-0-2"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-74-9-8-8-8" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152242"
             y="-0.20761211"
             width="1.3032803"
             x="-0.15164016"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-5-1-5-7-1-4">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-3-7-6-4-5-4" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-62-9-7-3-9-5" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-8-9-0-7-5-7" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-31-6-7-4-6-6" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-1-4-4-0-2-6"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-74-9-8-8-8-9" />
          </filter>
          <filter
             inkscape:label="Ink Paint"
             inkscape:menu="Textures"
             inkscape:menu-tooltip="Ink paint on paper with some turbulent color shift"
             height="1.4152242"
             y="-0.20761211"
             width="1.3032803"
             x="-0.15164016"
             style="color-interpolation-filters:sRGB"
             id="filter379-4-5-1-5-7-1-4-8">
            <feTurbulence
               type="fractalNoise"
               baseFrequency="0.07"
               numOctaves="4"
               result="result0"
               id="feTurbulence367-5-3-7-6-4-5-4-1" />
            <feDisplacementMap
               in2="result0"
               in="SourceGraphic"
               xChannelSelector="R"
               yChannelSelector="G"
               scale="10"
               result="result2"
               id="feDisplacementMap369-1-62-9-7-3-9-5-0" />
            <feBlend
               result="result5"
               in="result2"
               mode="multiply"
               in2="result2"
               id="feBlend371-8-8-9-0-7-5-7-1" />
            <feGaussianBlur
               stdDeviation="9.9928481"
               in="result2"
               result="result4"
               id="feGaussianBlur373-9-31-6-7-4-6-6-6" />
            <feComposite
               operator="arithmetic"
               in2="result4"
               in="result0"
               k3="0.5"
               k1="2"
               result="result6"
               id="feComposite375-56-1-4-4-0-2-6-3"
               k2="0"
               k4="0" />
            <feComposite
               operator="in"
               in2="result5"
               in="result6"
               result="result7"
               id="feComposite377-6-74-9-8-8-8-9-3" />
          </filter>
        </defs>
        <g
           inkscape:label="Layer 1"
           inkscape:groupmode="layer"
           id="layer1">
          <path
             sodipodi:type="star"
             style="fill:#ff00ff;fill-opacity:1;stroke-width:0.264583;filter:url(#filter1213-3)"
             id="path233-0"
             inkscape:flatsided="true"
             sodipodi:sides="8"
             sodipodi:cx="9.8513517"
             sodipodi:cy="-32.108109"
             sodipodi:r1="112.4145"
             sodipodi:r2="103.85746"
             sodipodi:arg1="0.72799005"
             sodipodi:arg2="1.1206891"
             inkscape:rounded="0"
             inkscape:randomized="0"
             d="m 93.770266,42.689185 -77.468954,37.432013 -81.247253,-28.310392 -37.432009,-77.468955 28.310388,-81.247251 77.4689537,-37.43202 81.2472533,28.3104 37.432015,77.468951 z"
             transform="matrix(0.63068989,0,0,0.65922778,98.78685,169.66656)" />
          <path
             id="path1045-2"
             style="fill:#050505;fill-opacity:1;stroke-width:0.418562"
             d="m 107.56846,87.467977 c -8.88057,5.598626 4.09515,13.709273 -2.58291,19.063503 l -0.0151,0.001 c 2.27386,-7.503071 -4.5936,-10.744716 -2.92084,-19.053277 A 61.03223,61.133236 0 0 0 56.707996,111.22687 c -2.539824,9.51181 15.198346,8.19866 13.206844,13.50882 l -0.0086,0.0126 c 0.368022,-3.23726 -12.24919,-0.97342 -16.173341,-9.29571 a 61.03223,61.133236 0 0 0 -9.764858,33.04949 61.03223,61.133236 0 0 0 5.422354,25.09718 c 5.751152,-6.73996 14.571866,0.80582 18.124868,-6.55509 l 0.0084,0.0126 c 2.863949,10.39046 -15.53715,0.19528 -15.471065,11.75474 a 61.03223,61.133236 0 0 0 50.268812,30.72045 c 6.21778,-8.97126 -3.2309,-14.07726 2.69315,-18.94856 l 0.0151,-0.001 c -2.40117,9.25948 7.74338,13.09222 3.15573,18.93353 A 61.03223,61.133236 0 0 0 157.3499,179.8633 c -10.54142,-3.68715 -16.42479,-1.92632 -15.34222,-11.8438 l 0.006,-0.0142 c 2.11744,11.09983 11.46825,5.85081 18.0555,6.76599 a 61.03223,61.133236 0 0 0 5.96338,-26.2691 61.03223,61.133236 0 0 0 -9.18422,-32.24166 c -4.82213,8.72093 -9.88194,1.32094 -17.35653,8.48788 l -0.008,-0.0119 c 6.20824,-11.731 14.16869,0.65075 14.12059,-13.20494 A 61.03223,61.133236 0 0 0 107.56846,87.467977 Z M 52.052428,178.81158 a 61.03223,61.133236 0 0 1 -0.333118,-0.54849 l 0.332217,0.60475 c -2.11e-4,-0.0195 10e-4,-0.037 9.01e-4,-0.0563 z" />
          <text
             xml:space="preserve"
             style="font-size:25.4px;mix-blend-mode:normal;fill:#ff00ff;fill-opacity:1;stroke-width:0.264583;filter:url(#filter1277-9)"
             x="55.292377"
             y="205.34319"
             id="text1114-7"
             transform="matrix(0.58125739,0,0,0.60674018,39.029848,64.719373)"><tspan
         sodipodi:role="line"
         id="tspan1112-9"
         x="54svg.292377"
         y="205.34319">Amaterasu</tspan></text>
          <circle
             id="path8532"
             style="fill:#ff00ff;stroke:#000000;stroke-width:0.264583"
             cx="173.40326"
             cy="70.58448"
             r="0.0021478366" />
          <path
             id="path165-27-0-8"
             style="fill:#ff00ff;stroke-width:0.264583;filter:url(#filter379-4-1-5-1-5-5-6-8-3-7)"
             inkscape:transform-center-x="2.1014122"
             inkscape:transform-center-y="1.8339804"
             d="m 132.0144,54.952229 c -0.0316,0.0104 -0.0626,0.0206 -0.094,0.031 l -90.329425,4.0504 v 0.0698 c 21.46328,0.43524 40.787643,4.43303 54.972872,14.225994 L 124.7611,60.546749 c 1.5482,3.64855 15.43438,6.357671 30.34492,6.333981 L 159.899,54.952259 Z M 96.563847,73.329403 1.7427647,116.31593 107.29756,83.07765 c -3.12211,-3.7458 -6.72227,-6.978887 -10.733713,-9.748247 z m 10.733713,9.748247 c 13.80755,16.565833 18.2494,43.17876 7.47862,84.17626 l 39.8048,-99.065793 z m 6.63112,87.3373 c -0.005,0.0185 -0.01,0.0363 -0.015,0.0548 l 0.0212,-0.0527 z"
             sodipodi:nodetypes="ccccccccccccccccccccc"
             transform="matrix(-0.01902629,0.52040258,-0.5447665,-0.0254477,135.9289,92.803376)"
             inkscape:label="path165-27-0-8" />
          <path
             id="path165-27-8"
             style="fill:#ff00ff;stroke-width:0.264583;filter:url(#filter379-4-5-1-5-7-1-4-8)"
             inkscape:transform-center-x="-2.2091406"
             inkscape:transform-center-y="1.8837475"
             d="m 132.0144,54.952229 c -0.0316,0.0104 -0.0626,0.0206 -0.094,0.031 l -90.329425,4.0504 v 0.0698 c 21.46328,0.43524 40.787643,4.43303 54.972872,14.225994 L 124.7611,60.546749 c 1.5482,3.64855 15.43438,6.357671 30.34492,6.333981 L 159.899,54.952259 Z M 96.563847,73.329403 1.7427647,116.31593 107.29756,83.07765 c -3.12211,-3.7458 -6.72227,-6.978887 -10.733713,-9.748247 z m 10.733713,9.748247 c 13.80755,16.565833 18.2494,43.17876 7.47862,84.17626 l 39.8048,-99.065793 z m 6.63112,87.3373 c -0.005,0.0185 -0.01,0.0363 -0.015,0.0548 l 0.0212,-0.0527 z"
             sodipodi:nodetypes="ccccccccccccccccccccc"
             transform="matrix(0.03039642,0.5118803,0.54408364,-0.03618988,72.705459,94.693316)" />
        </g>
      </svg>
      {% endif %}
      {{ site_name }}
    </a>
  {% endif %}
  {% if site_slogan %}
    <div class="d-inline-block align-top site-name-slogan">
      {{ site_slogan }}
    </div>
  {% endif %}
